.navbar-nav a{
    font-family: Arial;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-brand{
    color:black;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link{
    color:black;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    padding: .2rem 1rem;
}
